* {
  margin: 0px;
  /* padding: 0px; */
}

#root {
  height: 100vh;
  background-color: #cdf;
  /* display: grid;
   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#root div {
  border: 1px solid red;
}